
//== PARENT CONTAINER ==/
.site-footer {
    position: relative;
    height: 20vh;
    z-index: 3;
    margin-top: 11.25rem;
    background-color: white;
    border-top-style: solid;
    border-color: $color_background;
    border-width: 1px;
}


//== FIRST CHILD CONTAINER ==//
.footer-container-first {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    padding-left: 3%;
    white-space: nowrap;
}

.footer-list-element {
    padding-bottom: 0.6rem;
}

.footer-link {
    font-family: $font_cocogoose-semilight;
    font-size: 0.75rem;
    font-weight: normal;
}

.footer-link:link {
    color: $color_main-dark-gray;
}

.footer-link:visited {
    color: $color_main-dark-gray;
}

.footer-link:hover {
    color: $color_link;
    text-decoration: none;
}

.footer-link:active {
    color: $color_link;
    text-decoration: none;
}

.hover-svg {
    margin-right: 0.4rem;
}

.footer-link:hover path {
    fill: $color_link;
}


//== MIDDLE CHILD CONTAINER ==//
.footer-container-middle {
    display: flex;
    align-items: center;
}

#vepa-meil {
    color: $color_light-gray;
}

#vepa-meil:hover {
    color: $color_link;
    text-decoration: none;
}


//== LAST CHILD CONTAINER ==//
.footer-container-last {
    display: flex;
    align-items: center;
}

.footer-container-last a {
    margin-right: 4rem;
}
