@mixin animation($time: 0.4s) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    transition: all $time ease;
}
