
//== PARENT PAGE SCROLL ==//
.main-page-scroll {
    margin-top: 3.5rem;
    margin-left: 1.5rem;
    padding: 1.5rem;
    background-size: 12rem;
    background-repeat: repeat;
}

.main-page-scroll-alam {
    margin-top: -3rem;
    margin-left: -3rem;
    padding: 2rem;
    background-color: white;
}

.main-page-scroll-content {
    padding-bottom: 2rem;
}
