
//== RESPONSIVENESS ==//


@media only screen and (min-width: 1025px) {
    .sidebar-div {
        display: block;
    }
}

@media only screen and (max-width: 1366px) {
    .narrow-width {
        width: 100%;
    }

    .kodulehe-sihtruhmade-div {
        margin-left: 3rem;
    }
}

@media only screen and (min-width: 1025px) {
    #mob-header {
        display: none;
    }

    .menu {
        text-align: left;
    }
}

@media only screen and (max-width: 1024px) {

    .mobile-menu--js {
        display: none;
        position: fixed;
        left: 0;
        width: 90vw;
        height: 100%;
        z-index: 2;
        background-color: white;
    }

    .mobile-sidebar {
        display: flex;
        flex-direction: column;
        height: 65%;
        width: auto;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;

    }

    .mobile-searchform {
        display: flex;
        height: 2rem;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        margin-top: 3rem;
        padding-right: 0.5rem;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: $color_background;
    }

    .mobile-sidebar img {
        display: none;
    }

    .menu {
        text-align: center;
    }

    #button-sidebar {
        margin-left: 0;
    }

    .form-container {
        left: 0;
        padding-left: 25%;
    }

    .close-form {
        right: 40;
    }

    .search-container {
        left: 0;
        padding-left: 20%;
    }

    .search-close--js {
        right: 40;
    }

    .main-content-div {
        margin-left: 0;
    }

    .narrow-width {
        margin-left: 3rem;
    }

    .kodulehe-sihtruhmade-div {
        margin-left: 4rem;
    }

    .site-footer {
        height: 40vh;
        padding-left: 5rem;
    }
}

@media only screen and (max-width: 768px) {

    .mobile-menu--js {
        width: 100vw;
    }

    .mobile-searchform {
        height: 3rem;
        padding-right: 3rem;
    }

    .mobile-searchform img {
        height: 1.5rem;
    }

    .form-container {
        padding-left: 0;
    }

    .search-container {
        z-index: 10;
        padding-left: 0;
    }

    .search-form {
        width: 80%;
    }

    #otsi-label {
        padding-left: 8.5rem;
    }

    input,
    textarea {
        width: 100%;
    }

    #label-left {
        margin-left: 1.5rem;
        padding-right: 0;
        padding-bottom: 0.5rem;
    }

    .kodulehe-sihtruhmade-div {
        height: 45rem;
    }
    
    .sihtruhmade-alam-div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .kodulehe-sihtruhmade-scroll {
        width: 100%;
    }

    .liitunud {
        flex-direction: column;
        align-items: center;
    }

    .liitunud-kes {
        margin-bottom: 2rem;
    }

    .site-footer {
        flex-direction: column;
        height: 100%;
        padding: 0;
    }

    .footer-container-middle {
        justify-content: center;
        margin-top: -4rem;
    }

    .footer-container-last {
        flex-direction: column;
    }

    .footer-container-last a {
        margin-top: 1.5rem;
        margin-right: 0;
    }
}
