
body {
    font-family: $font_noto-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: $color_darker-gray;
}

h1 {
    font-family: $font_cocogoose-regular;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-style: normal;
	font-weight: normal;
}

h2 {
    font-family: $font_cocogoose-regular;
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: $color_main-dark-gray;
}

h3 {
    font-family: $font_cocogoose-regular;
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: $color_main-blue;
}

h4 {
    font-family: $font_cocogoose-regular;
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: normal;
    color: $color_main-blue;
    margin-top: 5rem;
}

h5 {
    font-family: $font_cocogoose-semilight;
    font-size: 1rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: $color_main-dark-gray;
}

h6 {
    font-family: $font_cocogoose-semilight;
    font-size: 1rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: normal;
    color: $color_main-dark-gray;
}

q,
blockquote {
    font-style: italic;
}

q ::before,
blockquote ::before {
    content: "“ ";
}

q ::after,
blockquote ::after {
    content:  " ”";
}

strong {
    font-weight: 600;
    color: $color_darker-gray;
}

.content-text {
    font-size: 1.3rem;
}

.white-uppercase {
    color: white;
    text-transform: uppercase;
}

.grey-subtitle {
    margin-top: -0.3rem;
    margin-bottom: 2rem;
    font-family: $font_cocogoose-light;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: $color_light-gray;
}
